.form-container {
  background: #ffffff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  text-align: center;
  width: fit-content;
  margin-bottom: 35px;
}

input[type="text"] {
  padding: 10px 15px;
  width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #2980b9;
}